.vscode/**
.vscode-test/**
.gitignore
.git/**
app/**
coverage/**
docker-compose.yml
node_modules/**
out-test/**
src/**
tests/**
tests-integration/**
*.vsix
.gitlab-ci.yml
.npm/**
.npmrc
.vscode-test.mjs
eslint.config.mjs
tsconfig*.json
vitest.config.ts
**/*.map
**/*.ts
!out/**
logo/branch-buddy-logo-original.png